@page "/"

<MudPaper Elevation="4" Class="pa-4">

	<MudText Typo="MudBlazor.Typo.h4" Align="MudBlazor.Align.Center">Consultar por Cidade</MudText>

   <MudItem xs="12" sm="12" md="3" lg="3">
	   <MudTextField T="string" 
							  Label="Nome da Cidade" 
							  @bind-Value="nomeDaCidade" />

   </MudItem>
   <MudItem xs="12" sm="12" md="3" lg="3">

   </MudItem>
   @if (cidade != null)
{
	<p>Cidade Adicionada: @cidade.Nome</p>
}

</MudPaper>


@code{

	private string nomeDaCidade;

	public Cidade cidade;

	async  Task HandleValidSubmit()
	{
		Console.WriteLine($"Formulário enviado com sucesso! {cidade.Nome}");
	}

	public void AdicionarCidade()
	{
		cidade = new Cidade(nomeDaCidade);
	}
}
